@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Signika', sans-serif !important;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #1976d2;
  border-radius: 10px;
}